div#table-container
{
  position: relative;
  margin-top: 5vh;
  width: 100vw;
}

div#table-header
{
  width: 100vw;
  height: 2rem;
  backdrop-filter: blur(8px);
  background-color: rgba(170, 170, 170, 50%);
  position: absolute;
  top: 0.5rem;
  margin: 0;
  padding: 2vh 0;
  border-top: 0.125rem solid #eeeeee;
  border-bottom: 0.125rem solid #eeeeee;
  mask-image: linear-gradient(90deg, transparent 0%, #ffffff 15%, #ffffff 85%, transparent 100%);
}

table
{
  margin: auto;
  min-width: 50vw;
  height: 30vh;
  overflow: hidden auto;
  position: relative;
}

table th
{
  font-size: 3rem;
  color: #eeeeee;
  text-decoration: underline;
  padding: 1vh 0;
}
table th#spacer
{
  width: 10vw;
}

table tr
{
  padding: 0;
  margin: 0;
}

table td
{
  font-size: 2rem;
  color: #eeeeee;
  text-decoration: underline;
  text-align: left;
  padding: 0 4vw;
}
table td img
{
  height: 2rem;
  aspect-ratio: 1/1;
  background: transparent;
  margin-right: 1.25vw;
}

div#image-container
{
  margin: 25vh 0;
}
div#image-gate
{
  position: relative;
  height: 70vh;
  aspect-ratio: 1.22474487/1;
}
div#image-gate svg
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
div#image-gate img
{
  width: 25vh;
  aspect-ratio: 1/1;
  border: 0.125rem solid #eeeeee;
  background: #000000;
}
div#image-gate img#image-gate-1
{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
div#image-gate img#image-gate-2
{
  position: absolute;
  bottom: 0;
  right: 0;
}
div#image-gate img#image-gate-3
{
  position: absolute;
  bottom: 0;
  left: 0;
}

div#return
{
  padding-bottom: 15vh;
}
div#return button
{
  display: block;
  height: 8vh;
  aspect-ratio: 4/1;
  background: #000000;
  border: 0.125rem solid #eeeeee;
  color: #eeeeee;
  font-family: inherit;
  font-size: 2.5rem;
  text-decoration: underline;
  transition: border-width 0.125s ease-in-out, background-color 0.125s ease-in-out;
  backdrop-filter: blur(4px);
}
div#return button:hover
{
  border-width: 0.25rem;
  background-color: transparent;
}
div#return button:active
{
  background-color: rgba(170, 170, 170, 50%);
}
